body {
  background-color: black;
  color: white;
  font-family: "Fira Code";
}

/* custom links */
.customLinks {
  display: block !important;
  text-align: center;
  width: 100% !important;
}

.customLinks div {
  width: 100%;
}

/* filedrop */
#filedrop {
  position: relative;
  left: 0;
  width: 75%;
  height: 100px;
  border: 2px dashed white;
  margin: 20px auto;
}

#filedrop.Hover {
  background-color: #246;
  color: white;
}

#filedrop input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0px;
  top: 0px;
}

#filedrop #filetext {
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  left: 0px;
  top: 50%;
  transform: translate(-0.5em, -50%);
  text-align: center;
}

#filetext {
  margin-right: 3em;
}

@media (max-width: 1200px) {
  #filedrop {
    position: fixed;
    background-color: black;
    z-index: 1;
    width: 15%;
    left: 0;
    bottom: 0;
    min-height: 20vh;
  }
}

@media (max-width: 725px) {
  #filedrop #filetext {
    transform: translate(-0.5em, -100%);
  }
}

/* problem words screen */
#problems {
  text-align: center;
  font-size: 2em;
}

#problems div {
  display: inline-block;
  width: 50%;
}

/* lesson select screen */
@media (min-width: 1200px) {
  #settings {
    text-align: left;
    position: fixed;
    left: 0;
  }

  .otherLink {
    text-align: right;
    position: fixed;
    right: 0;
  }
}

#lessonSelect div, #lessonSelect a {
  padding: 0.5em;
  padding-top: 0;
}

#lessonSelect {
  text-align: center;
}

#lessonSelect label {
  font-size: 2em;
}

input[type=checkbox] {
  position: relative;
  top: 0.5em;
  width: 3em;
  height: 3em;
}

#lessonSelect input[type=number] {
  font-size: 2em;
}

input[type=number] {
  font-size: 1em;
  width: 2em;
  color: white;
  background-color: #333;
  border: none;
}

.scene {
  display: none;
}

.lessonLinkInfo {
  display: inline-block;
  text-align: Right;
  color: grey;
  width: calc(50% - 5em);
  position: relative;
  top: -0.3em;
}

.lessonLinkName {
  display: inline-block;
  text-align: left;
  width: calc(50% + 5em);
}

.lessonLinkBest {
  color: gold;
  font-style: italic;
  position: relative;
  top: -0.3em;
}

a {
  color: #47a;
  text-decoration: none;
}

.lessonLink {
  font-size: 2em;
}

a:hover {
  text-decoration: underline;
}

/* prompt box */
#text {
  font-size: 2em;
  border-style: solid;
  border-color: grey;
  margin: 0.5em;
  padding: 0.5em;
  width: calc(100% - 2em);
  height: calc(100vh - 13em);
  overflow-y: scroll;
}

.phrase {
  display: inline-block;
}

.typed {
  background-color: grey;
}

/* steno settings */
#stenoLastStroke {
  text-align: center;
  color: #aaa;
  font-size: 2em;
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.25em;
}

#stenoTape {
  position: fixed;
  right: 0;
  padding-right: 1em;
}

.inactiveSteno {
  color: #444;
}

.activeStenoMistake {
  color: #f44;
}

@media (max-height:550px) {
  #stenoLastStroke {
    display: none;
  }
  #text {
    height: calc(100vh - 12em);
  }
}

@media (max-width:1220px) {
  #stenoTape {
    display: none;
  }
}

/* steno keyboard diagram */
#keyboard {
  font-size: 3em;
  text-align: center;
}

.stenoKey {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* stats */
#wpm, #accuracy, #progress {
  padding: 0.25em;
  color: grey;
  font-size: 2em;
  position: fixed;
  bottom: 0;
}

#accuracy {
  left: 0;
}

#wpm {
  right: 0;
}

#progress {
  width: 100%;
  text-align: center;
}

/* Custom Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
